{% extends 'shop/basic.html' %}
{% block title %} Biz haqimizda {% endblock %}
{% block body %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Online do`kon </h1>
      <p>Internet tarmog'ida mahsulotlar va xizmatlar sotish bilan shug'ullanuvchi dunyodagi yirik kompaniyalardan biri. Amazon xizmati katta talabni qondirishga yo'naltirilgan o'ttizdan ortiq mahsulot turini o'z ichiga oladi.  Amazon.com birinchilardan bo'lib internet imkoniyatlaridan foydalanishga erishdi: oddiy jismoniy  do'kondagiga qaraganda mijozlarning ancha ko'proq soniga murojaat qilish imkoniyati, omborda mavjud bo'lgan mahsulotlar bilan cheklanmagan mahsulotlarning yanada ko'proq turi.
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Batafsil &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Macy's</h2>
        <p>Bugungi kundagi 900 dan ortiq universal do'konlardan tashkil topgan nooziq-ovqat mahsulotlar chakana savdosining yoshi ulug' tarmog'idir. Macy's AQShdan tashqarida o'n ikkidan ortiq sho'balariga ega bo'lib, uning xizmatchilari soni esa qariyb 200 000 kishiga yetadi.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Batafsil &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Wallmart</h2>
        <p>Bugungi kundagi 900 dan ortiq universal do'konlardan tashkil topgan nooziq-ovqat mahsulotlar chakana savdosining yoshi ulug' tarmog'idir. Macy's AQShdan tashqarida o'n ikkidan ortiq sho'balariga ega bo'lib, uning xizmatchilari soni esa qariyb 200 000 kishiga yetadi.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Batafsil &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Costco</h2>
        <p>Bugungi kundagi 900 dan ortiq universal do'konlardan tashkil topgan nooziq-ovqat mahsulotlar chakana savdosining yoshi ulug' tarmog'idir. Macy's AQShdan tashqarida o'n ikkidan ortiq sho'balariga ega bo'lib, uning xizmatchilari soni esa qariyb 200 000 kishiga yetadi.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Batafsil &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

{% endblock %}